div
  h2.text-center.mt-3 Dashboard
  .text-right.mr-2
    button.btn.mt-3.btn-success(data-toggle='modal' data-target='#newActuator') Nuevo actuador
  h5.mt-3 Actuadores       
  table.table.mt-3
    thead
      th ID
      th Tipo
      th Estado
      th Producto
      th Acciones
    tbody
      each a in actuators
        tr
          td #{a.id}
          td #{a.actuatorType}
          if (a.actuatorType == 'Rociador')
            td(class=(a.status == 'on') ? 'alert-success' : 'alert-danger') #{a.status.toUpperCase()}
          else
            td #{a.status} %    
          each p in products
            if (a.product == p.id)
              td #{p.name}  
          td
            if (a.actuatorType == 'Rociador') 
              a(href=`/dashboard/actuator/${a.id}/toggle` class='mr-2')
                if (a.status == 'on')
                  i(class='fa fa-toggle-on' style='font-size: 24px; color: black;')
                else
                  i(class='fa fa-toggle-off' style='font-size: 24px; color: black;')     
            else
              a(href='#' class='mr-2' data-toggle='modal' data-target='#slider')
                i(class='fa fa-wrench' style='font-size: 24px; color: black;')   
            a(href='#' class='mx-3') 
              i(class='fa fa-trash' style='font-size: 24px; color: red;')
            a(href='#' class='ml-2')
              i(class='fa fa-edit' style='font-size: 24px; color: green;') 

#slider.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5 Sombra
      .modal-body
        // es cualquiera pero no se como pasar el id del actuador desde la tabla al modal
        form(method='post' action='/api/actuator/5d81a84447f81d10723ec5fd/update')
          output#rangeOut 50 %
          input#rangeInput.custom-range(name='status' type='range' oninput='rangeOut.value = rangeInput.value + " %"')
          input(type='submit' value='Actualizar')  


                        
#newActuator.modal.fade(tabindex='-1')
   .modal-dialog
       .modal-content
          .modal-header
            h5 Nuevo actuador
          .modal-body
            form(method='post' action='/api/actuator')
              .form-group
                label Tipo de actuador
                select.form-control(name='actuatorType')
                  option Rociador
                  option Sombra
              .form-group
                label Producto
                select.form-control(name='product')
                  each p in products
                    option #{p.name}            
              input(type='submit' value='Enviar')                           
          
