div
  h2.text-center.mt-3 Dashboard
  .text-right.mr-2
    button.btn.mt-3.btn-success(data-toggle='modal' data-target='#newActuator') Nuevo actuador
  h5.mt-3 Actuadores       
  table.table.mt-3
    thead
      th ID
      th Tipo
      th Estado
      th Producto
      th Acciones
    tbody
      each a in actuators
        tr
          td #{a.id}
          td #{a.actuatorType}
          td(class=(a.status == 'on') ? 'alert-success' : 'alert-danger') #{a.status.toUpperCase()}  
          each p in products
            if (a.product == p.id)
              td #{p.name}  
          td 
            a(href='#') Toggle &nbsp &nbsp
            a(href='#') Borrar &nbsp &nbsp
            a(href='#') Modificar  
                        
#newActuator.modal.fade(tabindex='-1')
   .modal-dialog
       .modal-content
          .modal-header
            h5 Nuevo actuador
          .modal-body
            form(method='post' action='/api/actuator')
              .form-group
                label Tipo de actuador
                select.form-control(name='actuatorType')
                  option Rociador
                  option Sombra
              .form-group
                label Producto
                select.form-control(name='product')
                  each p in products
                    option #{p.name}            
              input(type='submit' value='Enviar')                           
            
