div
  h2.text-center.mt-3 Dashboard
  .text-right.mr-2
    button.btn.btn-success(data-toggle='modal' data-target='#newSensor') Nuevo sensor                  
  h5.mt-3 Sensores      
  table.table.mt-3
    thead
      th ID
      th Tipo
      th Producto
      th Estado
      th Ultima lectura
      th Acciones
    tbody
      each s in sensors
        tr
          td #{s.id}
          td #{s.sensorType}
          td #{s.product}  
          td #{s.status ? 'Activo' : 'Inactivo'}
          td Algun valor...
          td 
            a(href='#') Ver lecturas &nbsp &nbsp
            a(href=`/dashboard/sensor/${s.id}/delete`) Borrar &nbsp &nbsp
            a(href='#') Modificar  

#newSensor.modal(tabindex='-1')
   .modal-dialog
       .modal-content
          .modal-header
            h5 Nuevo sensor
          .modal-body
            form(method='post' action='/api/sensor')
              .form-group
                input(type='text' placeholder='Tipo de sensor' name='sensorType')
              .form-group
                input(type='text' placeholder='Unidad' name='unit')
              .form-group
                input(type='text' placeholder='Producto' name='product')    
              input(type='submit' value='Enviar')          
          
