div
  h2.text-center.mt-3 Dashboard
  .text-right.mr-2
    button.mt-3.btn.btn-success(data-toggle='modal' data-target='#newSensor') Nuevo sensor                  
  h5.mt-3 Sensores      
  table.table.mt-3
    thead
      th ID
      th Tipo
      th Producto
      th Estado
      th Ultima lectura
      th Acciones
    tbody
      each s in sensors
        tr
          td #{s.id}
          td #{s.sensorType}
          each p in products
            if (s.product == p.id)
              td #{p.name}  
          td #{s.status ? 'Activo' : 'Inactivo'}
          td No hay datos  
          td 
            a.mx-2(href=`/dashboard/sensor/${s.id}/readings`) 
              i.fa.fa-file(style='font-size: 24px; color: black;')
            a(href=`/dashboard/sensor/${s.id}/delete` class='mx-3') 
              i(class='fa fa-trash' style='font-size: 24px; color: red;')
            a(href='#' class='ml-2')
              i(class='fa fa-edit' style='font-size: 24px; color: green;') 
            

#newSensor.modal.fade(tabindex='-1')
   .modal-dialog
       .modal-content
          .modal-header
            h5 Nuevo sensor
          .modal-body
            form(method='post' action='/api/sensor')
              .form-group
                label Tipo de sensor
                select.form-control(name='sensorType')
                  option Temperatura
                  option Humedad
              .form-group
                label Producto
                select.form-control(name='product')
                  each p in products
                    option #{p.name}        
              input(type='submit' value='Enviar')          
          
